* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', 'Fira Sans';
}

body {
	background-color: #f1f1f1;
	color: #444;
}

h1 {
	padding: 5px 0;
	font-size: 28px;
	font-weight: 400;
}
h2 {
	padding: 15px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
}
h3, p {
	padding: 5px 15px;
	font-size: 14px;
	font-weight: 400;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.header {
	background: url("images/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
/*
	background: -webkit-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
	background: -moz-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
	background: -ms-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
	background: -o-linear-gradient(90deg, #e43a15 10%, #e65245 90%);
	background: linear-gradient(90deg, #e43a15 10%, #e65245 90%);
	
	background: -webkit-linear-gradient(0deg, #50C9C3 50%, #96DEDA 90%);
	background: -moz-linear-gradient(0deg, #50C9C3 50%, #96DEDA 90%);
	background: -ms-linear-gradient(0deg, #50C9C3 50%, #96DEDA 90%);
	background: -o-linear-gradient(0deg, #50C9C3 50%, #96DEDA 90%);
	background: linear-gradient(0deg, #50C9C3 50%, #96DEDA 90%);
	
	background: -webkit-linear-gradient(0deg, #283048 10%, #859398 90%);
	background: -moz-linear-gradient(0deg, #283048 10%, #859398 90%);
	background: -ms-linear-gradient(0deg, #283048 10%, #859398 90%);
	background: -o-linear-gradient(0deg, #283048 10%, #859398 90%);
	background: linear-gradient(0deg, #283048 10%, #859398 90%);
*/
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 900px) {
	/* For mobiles, tablets */
}

@media only screen 
and (min-device-width: 901px) {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		color: #fff;
		text-align: center;
		z-index: -100;
	}
	.header-cover-div {
		position: relative;
		width: 100%;
		height: 200px;
		z-index: -50;
	}
	h1.logo {
		position: absolute;
		height: 94px;
		top: 50%;
		left: 50%;
		padding-left: 40px;
		padding-right: 40px;
		margin-left: -144px;
		margin-top: -62px;
		border-radius: 8px;
		font-family: 'Bubblegum Sans';
		font-size: 72px;
		color: #fff;
		background: url("images/back.png");
		background-size: auto;
		background-repeat: repeat;
	}
	.social-dashboard {
		width: 550px;
		overflow: hidden;
		padding: 25px;
		background-color: #fff;
		margin: 0 auto;
		margin-top: -50px;
		border-radius: 2px;
	}
	.subscribe-box {
		width: 360px;
		float: left;
	}
	.subscribe {
		width: 240px;
		height: 42px;
		font-size: 18px;
		padding-left: 20px;
		padding-right: 50px;
		color: #444;
		border: 1px solid #ccc;
		border-radius: 20px;
		float: left;
	}
	.subscribe-button {
		width: 42px;
		height: 42px;
		margin: 1px 0;
		margin-left: -50px;
		border-radius: 21px;
		background-color: #fff;
		float: left;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	div.icon-plane {
		font-size: 18px;
		line-height: 25px;
		color: #283048;
		display: inline-block;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	.subscribe-button:hover {
		margin-left: -42px;
		background-color: #283048;
	}
	.subscribe-button:hover > .icon-plane {
		color: #fff;
	}
	.share-a-story-box {
		float: left;
		height: 44px;
	}
	div.icon-quote {
		text-align: center;
		width: 86px;
		font-size: 44px;
		height: 44px;
		color: #283048;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	p.share-a-story {
		padding: 0;
		display: none;
		color: #283048;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	.share-a-story-box:hover {
		margin-top: -4px;
	}
	.share-a-story-box:hover > .icon-quote {
		font-size: 28px;
		height: 28px;
	}
	.share-a-story-box:hover > p.share-a-story {
		display: inline-block;
	}
	div.icon-facebook {
		margin-left: 40px;
		font-size: 28px;
		padding: 8px;
		width: 28px;
		height: 28px;
		border-radius: 28px;
		float: left;
		color: #283048;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	div.icon-facebook:hover {
		margin-top: -4px;
		background-color: #283048;
		color: #fff;
	}
	.updates {
		margin: 20px auto;
		text-align: center;
		color: #999;
	}
	.updates h2 {
		font-size: 18px;
	}
	.wrapper {
		position: relative;
		width: 820px;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 40px;
	}
		.wrapper * img {
			-webkit-transition: all 0.3s ease-out 0s;
			-moz-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}
		.wrapper * img:hover {
			-webkit-filter: brightness(110%);
			filter: brightness(110%);
		}
		.special-cover {
			position: relative;
			width: 98%;
            padding-bottom: 20px;
            overflow: hidden;
			margin: 1%;
			background-color: #fff;
			float: left;
            border-radius: 2px;
			-webkit-box-shadow: 0px 2px 1px -1px #ccc;
			-moz-box-shadow: 0px 2px 1px -1px #ccc;
			box-shadow: 0px 2px 1px -1px #ccc;
		}
    
        .special-cover img {
            width: 100%;
        }
        .special-cover h2 {
            font-family: 'Overlock';
            font-weight: 700;
        }
		.sixty-cover {
			width: 58%;
			overflow: hidden;
			background-color: #fff;
            padding-bottom: 20px;
			float: left;
			margin: 1%;
			border-radius: 2px;
			-webkit-box-shadow: 0px 2px 1px -1px #ccc;
			-moz-box-shadow: 0px 2px 1px -1px #ccc;
			box-shadow: 0px 2px 1px -1px #ccc;
		}
        .sixty-cover img {
            width: 100%;
        }
        .sixty-cover h2 {
            font-family: 'Overlock';
            font-weight: 700;
        }
		.forty-cover {
			width: 38%;
			overflow: hidden;
			background-color: #fff;
            padding-bottom: 20px;
			float: left;
			margin: 1%;
			border-radius: 2px;
			-webkit-box-shadow: 0px 2px 1px -1px #ccc;
			-moz-box-shadow: 0px 2px 1px -1px #ccc;
			box-shadow: 0px 2px 1px -1px #ccc;
		}
        .forty-cover img {
            width: 100%;
        }
        .forty-cover h2 {
            font-family: 'Overlock';
            font-weight: 700;
        }
		.fifty-cover {
			width: 48%;
			overflow: hidden;
			padding-bottom: 20px;
			background-color: #fff;
			float: left;
			margin: 1%;
			border-radius: 2px;
			-webkit-box-shadow: 0px 2px 1px -1px #ccc;
			-moz-box-shadow: 0px 2px 1px -1px #ccc;
			box-shadow: 0px 2px 1px -1px #ccc;
		}
		.fifty-cover img {
			width: 100%;
		}
		.fifty-cover h2 {
			font-family: 'Overlock';
			font-weight: 700;
		}
	.footer {
		width: 100%;
		padding: 20px 0;
		overflow: hidden;
		background-color: #283048;
		text-align: center;
	}
	.footer > p {
		color: #7890d6;
		margin-top: 60px;
		padding: 0;
	}
	.credits-wrap {
		width: 399px;
		height: 105px;
		overflow: visible;
		margin: 40px auto;
	}
	.credit {
		margin: 10px 14px;
		height: 105px;
		float: left;
		text-align: center;
	}
	.credit:hover .pic {
		margin-top: -10px;
	}
	.credit:hover h3 {
		margin-top: 10px;
		color: #fff;
	}
	.credit h3 {
		padding: 5px 0;
		padding-top: 10px;
		color: #7890d6;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	.credit p {
		margin-top: -5px;
		padding: 0;
		color: #50608f;
	}
	.pic {
		width: 60px;
		height: 60px;
		border-radius: 30px;
		margin: 0 auto;
		background-color: #50C9C3;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
	}
	.pic.aman {
		background: url("images/aman.jpg") center no-repeat;
		background-size: cover;
	}
	.pic.mihir {
		background: url("images/mihir.jpg") center no-repeat;
		background-size: cover;
	}
	.pic.yash {
		background: url("images/yash.jpg") center no-repeat;
		background-size: cover;
	}
	.pic.sahil {
		background: url("images/sahil.jpg") center no-repeat;
		background-size: cover;
	}
}